{
  "presets": [
    ["@babel/env", { "targets": { "chrome": 48 }, "useBuiltIns": "usage", "modules": false }],
    "@babel/stage-2",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "@babel/runtime"
      }
    ]
  ]
}
