{
  "presets": [
    ["@babel/env", { "targets": { "chrome": 55 }, "useBuiltIns": false, "modules": false }],
    "@babel/react"
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": false
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/env"]
    }
  }
}
